html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Site Admin
    link(rel='stylesheet', href='/css/screen.css', type='text/css', media='screen')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js', type='text/javascript')
    script(src='/js/custom-jquery.js', type='text/javascript')
    script(src='/js/jquery.pngFix.pack.js', type='text/javascript')
!= body

