div#content.container_16.clearfix
  div.grid_16.clearboth!= renderedDocument
  div.grid_16.clearboth
    p.submit
      input#saveButton(type='submit', value='Save')
      | &nbsp;
      input#cancelButton(type='button', value='Cancel')
div#foot
  a(href='http://mongoose-admin.com') Mongoose-Admin
