script(type='text/javascript')
  $(document).ready(function() {
    $('#saveButton').click(function() {
      var method = $('#document_id').val().length > 0 ? 'PUT' : 'POST';
      $.ajax({
        type:method,
        url:'/json/model/#{modelName}/document',
        data:$('#document').serialize(),
        success:function(result) {
          window.location.href = '/model/' + result.model.collectionName;
        },
        error:function(xhr, textStatus) {
          alert('Unable to save');
        }
      });
      return false;
    });
  });

div#content.container_16.clearfix
  div.grid_16.clearboth!= renderedDocument
  div.grid_16.clearboth
    p.submit
      input#saveButton(type='submit', value='Save')
      | &nbsp;
      input#cancelButton(type='button', value='Cancel')
div#foot
  a(href='http://mongoose-admin.com') Mongoose-Admin
