script(type='text/javascript')
  $(document).ready(function() {
    $('#saveButton').click(function() {
      var method = $('#document_id').val().length > 0 ? 'PUT' : 'POST';
      $.ajax({
        type:method,
        url:'/json/model/#{modelName}/document',
        data:$('#document').serialize(),
        success:function(result) {
          window.location.href = '/model/' + result.collection;
        },
        error:function(xhr, textStatus) {
          alert('Unable to save');
        }
      });
      return false;
    });
    $('#deleteButton').click(function() {
      $.ajax({
        type:'DELETE',
        url:'/json/model/#{modelName}/document?document_id=' + encodeURIComponent($('#document_id').val()),
        success:function(result) {
          window.location.href = '/model/' + result.collection;
        },
        error:function(xhr, textStatus) {
          alert('Unable to delete');
        }
      });
    });
  });

div#content.container_16.clearfix
  div.grid_16.clearboth!= renderedDocument
  div.grid_16.clearboth
    p.submit
      input#saveButton(type='submit', value='Save')
      | &nbsp;
      input#cancelButton(type='button', value='Cancel')
      - if (allowDelete)
          span(style='margin-left:20px;')
            input#deleteButton(type='button', value='Delete')
div#foot
  a(href='http://mongoose-admin.com') Mongoose-Admin
